# .gitignore
#
# Type:     Gitignore
# Author:   Will Brandon
# Date:     Apr 19, 2023
#
# Marks files to be excluded from the git version-controled project.

# Build Files
./bin/*

# macOS Metadata Files
*.DS_Store

# Visual Sudio Code Files
*.code
